if SOC_RISCV32_SERVANT

config COMPILER_OPT
	string
	default "-march=rv32i -mabi=ilp32"
config SOC
	string
	default "servant"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 16000000

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 8

config SERV_TIMER
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x00000000

config RISCV_ROM_SIZE
	hex
	default 0x0

config RISCV_RAM_BASE_ADDR
	hex
	default	0x00000000

config RISCV_RAM_SIZE
	hex
	default 0x8000

if GPIO

config GPIO_MMIO32
	def_bool y

endif # GPIO

if SERIAL

config UART_BITBANG
	def_bool y

endif # SERIAL

endif # SOC_RISCV32_SERVANT
