# Kconfig - Simple SPI Driver configuration options

#
# Copyright (c) 2019 Western Digital Corporation or its affiliates
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig SPI_SIMPLE_SPI
	bool "OpenCores Simple SPI controller driver"
	help
	  Enable the Simple SPI controller

if SPI_SIMPLE_SPI

config SPI_SIMPLE_SPI_BUS_WIDTH
       def_int 8

endif # SPI_SIMPLE_SPI
