CONFIG_RISCV32=y
CONFIG_SOC_SERIES_RISCV32_SWERV=y
CONFIG_SOC_RISCV32_SWERVOLF=y
CONFIG_BOARD_SWERVOLF_NEXYS=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y

CONFIG_UART_CONSOLE=y
CONFIG_UART_CONSOLE_ON_DEV_NAME="uart0"
CONFIG_PLIC=n
CONFIG_XIP=n
CONFIG_BOOT_BANNER=y

CONFIG_SPI=y
CONFIG_SPI_NOR=y
CONFIG_SPI_NOR_SECTOR_SIZE=4096
CONFIG_SPI_NOR_PAGE_SIZE=512
